@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<div ng-app="purApp">
    <div ng-controller="purCtrl">
        <p class="divHead"></p>
        <div class="form-horizontal">
            <div align="center" style="color:royalblue"><h4><b>Purchase</b></h4></div>
            @*<b><i>{{Action}} Purchase</i></b>*@
            <div class="form-group">
                <input type="hidden" ng-model="purchaseId" />
            </div>

            <div class="container">
                <div class="form-horizontal form-custom">
                    <!-- BEGIN form-group line-1 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="companyId" ng-options="c.CompanyId as c.Name for c in companies" ng-change="getAllBranchesByCompany();">
                                <option value="">-- Select Company --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Branch</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="branchId" ng-model="branchId" ng-options="c.BranchId as c.Name for c in branches" ng-change="getMarketingPeoplesByBranch(); getAllSuppliers(); getAccount(); getItems(); getBanks()">
                                <option value="">-- Select Branch --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Account</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="accountId" ng-model="accountId" ng-options="s.AccountId as s.Name for s in accounts">
                                <option value="">-- Select Account --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Purchase From</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="supplierId" ng-model="supplierId" ng-options="s.SupplierId as s.Name for s in suppliers">
                                <option value="">-- Select Supplier --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Invoice No</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="invoiceNo" id="invoiceNo" />
                            @*<span class="error">* Invoiceno is required.</span>*@
                        </div>
                        <label class="col-sm-2 control-label">Date </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" id="purchaseDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Item</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="itemId" ng-model="itemId" ng-options="c.ItemId as c.ItemName for c in items" ng-change="getModels()">
                                <option value="">-- Select Item --</option>
                            </select>
                            @*<span class="error">* Item is required.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="modelId" ng-model="modelId" ng-options="m.ModelId as m.ModelName for m in models">
                                <option value="">-- Select Model --</option>
                            </select>
                            @*<span class="error">* Model is required.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Quantity</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="qty" id="qty" />
                            @*<span class="error">* Quantity is required.</span>*@
                        </div>
                        <label class="col-sm-2 control-label">Price </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="unitPrice" id="unitPrice" required="required" />
                            @*  <span class="error">* Unit price is required.</span>*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Serial</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="serial" id="serial" />
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" value="Add" id="add" />
                        </div>
                        <!-- /col-sm-offset-4.col-sm-8 -->
                    </div>
                    <!-- /.form-group -->
                </div>
            </div> <!-- /.container -->
            @*<div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
                        <input type="button" ng-click="addUpdatePurchase()" value="Add" id="add" />
                        <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel()" />
                    </div>
                </div>*@
        </div>


        <div class="table-responsive">
            <div id="orderItems" class="tablecontainer">
                <h4>Purchase Details</h4>
            </div>
        </div>
        <div id="parent">
            <div id="narrow">
                <table width="80%">
                    <tr>
                        <td class="lefttd"><b>Account</b></td>
                        <td class="righttd">
                            <select class="form-control input-sm" id="paymentModeId" ng-model="paymentModeId" ng-options="s.PaymentModeId as s.PaymentType for s in paymentModes">
                                <option value="">-- Select Payment Mode --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Bank Name</b></td>
                        <td class="righttd">
                            <select class="form-control input-sm" id="bankId" ng-model="bankId" ng-options="b.BankId as b.BankName for b in banks">
                                <option value="">-- Select Bank --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Customer Bank</b></td>
                        <td class="righttd">
                            <select class="form-control input-sm" id="customerBankId" ng-model="customerBankId" ng-options="b.BankId as b.Name for b in customerBanks">
                                <option value="">-- Select Bank --</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><label id="chkNo">Check No</label></td>
                        <td class="righttd"><input class="form-control input-sm" type="text" id="checkNo" /></td>
                    </tr>
                    <tr>
                        <td class="lefttd"><label id="chkDate">Check Date</label></td>
                        <td class="righttd"><input class="form-control input-sm" id="checkDate" /></td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Matured Date</b></td>
                        <td class="righttd"><input class="form-control input-sm" id="maturedDate" /></td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Amount</b></td>
                        <td class="righttd"><input class="form-control input-sm" id="amount" value="0.00" /></td>
                    </tr>
                </table>
            </div>
            <div id="wide">
                <table width="80%">
                    <tr>
                        <td class="lefttd"><b>Total</b></td>
                        <td class="righttd">
                            <input class="form-control input-sm" type="text" id="totalAmount" value="0.00" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Discount</b></td>
                        <td class="righttd">
                            <input class="form-control input-sm" type="text" id="discountAmount" value="0.00" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Grand Total</b></td>
                        <td class="righttd">
                            <input class="form-control input-sm" id="grandtotal" value="0.00" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="lefttd"><b>Due</b></td>
                        <td class="righttd">
                            <input class="form-control input-sm" id="dueTotal" value="0.00" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="righttd">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" id="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Save</button>
                                        <input type="button" class="btn btn-danger" value="Cancel" />
                                        <input type="button" class="btn btn-danger" value="Clear" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

<style>
    #parent {
        display: flex;
    }

    #narrow {
        width: 50%;
        /*background: lightblue;*/
        /* Just so it's visible */
    }

    #wide {
        flex: 1;
        /* Grow to rest of container */
        /*background: lightgreen;*/
        /* Just so it's visible */
    }

    .lefttd {
        padding-right: 30px;
        text-align: right;
    }

    .righttd {
        padding-top: 2px;
    }
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 8px;
        top: 7px;
    }
</style>

<link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

@*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

<script>
    //Date Picker
    $(function () {
        $('#purchaseDate').datetimepicker({ format: 'YYYY-MM-DD' });
    });

    $(function () {
        $('#checkDate').datetimepicker({ format: 'YYYY-MM-DD' });
    });

    $(function () {
        $('#maturedDate').datetimepicker({ format: 'YYYY-MM-DD' });
    });

    $(document).ready(function () {
        var orderItems = [];
        var len = 0;
        //Add button click function
        $('#add').click(function () {
            //Check validation of order item

            var item = $('#itemId option:selected').text();
            var model = $('#modelId option:selected').text();

            if (orderItems.length > 0) {
                $.map(orderItems, function (elementOfArray, indexInArray) {
                    if (elementOfArray.ItemName == item && elementOfArray.ModelName == model) {
                        alert("Do not allow to add duplicate item and model");
                    }
                    else {
                        AddElements();
                    }
                });
            }
            else {
                AddElements();
            }
        });

        //Add item to list if valid
        function AddElements() {
            var isValidItem = true;
            var x = 0;

            //var isValidItem = true;
            //if ($('#invoiceNo').val().trim() == '') {
            //    isValidItem = false;
            //    $('#invoiceNo').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#invoiceNo').siblings('span.error').css('visibility', 'hidden');
            //}

            //if ($('#qty').val().trim() == '') {
            //    isValidItem = false;
            //    $('#qty').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#qty').siblings('span.error').css('visibility', 'hidden');
            //}

            //if ($('#unitPrice').val().trim() == '') {
            //    isValidItem = false;
            //    $('#unitPrice').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#unitPrice').siblings('span.error').css('visibility', 'hidden');
            //}

            //if ($('#itemId').val().trim() == '') {
            //    isValidItem = false;
            //    $('#itemId').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#itemId').siblings('span.error').css('visibility', 'hidden');
            //}

            //if ($('#modelId').val().trim() == '') {
            //    isValidItem = false;
            //    $('#modelId').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#modelId').siblings('span.error').css('visibility', 'hidden');
            //}
            if (isValidItem) {
                var model = ($('#modelId').val());
                model = model.substring(7);
                var item = $('#itemId').val();
                item = item.substring(7);
                //alert(parseFloat($('#unitPrice').val().trim()));
                orderItems.push({
                    ModelName: $('#modelId option:selected').text(),
                    ModelId: model,
                    ItemName: $('#itemId option:selected').text(),
                    SerialNo: $('#serial').val().trim(),
                    Qty: parseInt($('#qty').val().trim()),
                    UnitPice: parseFloat($('#unitPrice').val().trim()),
                    TotalAmount: parseInt($('#qty').val().trim()) * parseFloat($('#unitPrice').val().trim())
                });

                //Clear fields
                $('#itemName').val('').focus();
                $('#quantity,#rate').val('');

            }
            //populate order items
            GeneratedItemsTable();
        };
        //Save button click function
        $('#submit').click(function () {

            //validation of order
            var isAllValid = true;
            if (orderItems.length == 0) {
                $('#orderItems').html('<span style="color:red;">Please add order items</span>');
                isAllValid = false;
            }

            if ($('#invoiceNo').val().trim() == '') {
                $('#invoiceNo').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#invoiceNo').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#purchaseDate').val().trim() == '') {
                $('#purchaseDate').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#purchaseDate').siblings('span.error').css('visibility', 'hidden');
            }

            var pDate = $('#purchaseDate').val();
            //Save if valid
            if (isAllValid) {
                var $AccountId = $('#accountId').val().substring(7).trim(),
                    $BranchId = $('#branchId').val().substring(7),
                    $InvoiceNo = $('#invoiceNo').val().trim(),
                    $PurchaseDate = pDate,
                    $SupplierId = $('#supplierId').val().substring(7),
                    $ItemId = $('#itemId').val().substring(7),
                    $TotalAmount = totalAmount; // $('totalAmount').val(),
                $DisountAmount = $('#disountAmount').val(),
                $GrantTotal = $('#grantTotal').val(),
                $DueAmount = $('#dueAmount').val(),
                $BankId = $('#bankId').val().substring(7),
                $CheckNo = $('#checkNo').val(),
                $CheckDate = $('#checkDate').val(),
                $CheckMDate = $('#maturedDate').val(),
                $PayAmount = $('#amount').val(),
                $CustomerBankId = $('#customerBankId').val(),
                $PaymentModeId = $('#paymentModeId').val().substring(7).trim()

                //alert(totalAmount);
                var data = {
                    AccountId: $AccountId, //$('#accountId').val().substring(7).trim(),
                    InvoiceNo: $InvoiceNo,
                    PurchaseDate: $PurchaseDate,
                    SupplierId: $SupplierId,
                    ItemId: $ItemId,
                    TotalAmount: $TotalAmount,
                    DisountAmount: $DisountAmount,
                    GrantTotal: $GrantTotal,
                    DueAmount: $DueAmount,
                    BankId: $BankId,
                    CheckNo: $CheckNo,
                    CheckDate: $CheckDate,
                    CheckMDate: $PurchaseDate,
                    PayAmount: $PayAmount,
                    BranchId: $BranchId,
                    PaymentModeId: $PaymentModeId,
                    CustomerBankId: $CustomerBankId,
                    //Sorry forgot to add Description Field
                    //Description: $('#description').val().trim(),
                    PurchaseDetails: orderItems
                }

                $(this).val('Please wait...');

                $.ajax({
                    url: '/Purchase/SaveOrder',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {

                        if (d.duplicate == true) {
                            alert("Duplicate invoice no is not allowed. Please try again...");
                            $('#invoiceNo').val('').focus();
                        }
                        else {
                            //check is successfully save to database
                            if (d.status == true) {
                                //will send status from server side
                                alert('Successfully done.');
                                //clear form
                                orderItems = [];
                                $('#invoiceNo').val('');
                                $('#purchaseDate').val('');
                                $('#qty').val('');
                                $('#unitPrice').val('');
                                $('#orderItems').empty();
                                $('#totalAmount').val(0.00);
                                $('#dueTotal').val(0.00);
                                $('#grandtotal').val(0.00);
                                $('#amount').val(0.00);
                                $('#discountAmount').val(0.00);
                            }
                            else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        }
                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            }
        });
        function EmptyFields() {

        }

        var totalAmount = 0;
        //function for show added items in table
        function GeneratedItemsTable() {

            if (orderItems.length > 0) {

                var $table = $("<table class='table table-bordered'/>");
                $table.append('<thead><tr><th>Sl</th><th>Item</th><th>Model</th><th>Serial No</th><th>Quantity</th><th>Rate</th><th>Total</th><th></th></tr></thead>');
                var $tbody = $('<tbody/>');
                var x = 0;

                $.each(orderItems, function (i, val) {
                    x = x + 1;
                    //alert(val.UnitPrice);
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(x));
                    $row.append($('<td/>').html(val.ItemName));
                    $row.append($('<td/>').html(val.ModelName));
                    $row.append($('<td/>').html(val.SerialNo));
                    $row.append($('<td/>').html(val.Qty));
                    $row.append($('<td/>').html(val.UnitPice));
                    $row.append($('<td/>').html(val.TotalAmount));
                    totalAmount = val.TotalAmount + totalAmount;

                    var $remove = $('<a href="#">Remove</a>');
                    $remove.click(function (e) {
                        e.preventDefault();
                        orderItems.splice(i, 1);
                        totalAmount = totalAmount - val.TotalAmount;
                        GeneratedItemsTable();
                    });

                    $row.append($('<td/>').html($remove));
                    $tbody.append($row);
                });

                console.log("current", orderItems);
                $table.append($tbody);
                $('#orderItems').html($table);
            }
            else {
                $('#orderItems').html('');
            }
            //alert(totalAmount);
            $('#totalAmount').val(totalAmount);
            $('#dueTotal').val(totalAmount);
            $('#grandtotal').val(0.00);
            $('#amount').val(0.00);
            $('#discountAmount').val(0.00);
        }
    });

    //Enable Disable Property
    var $paymentMode = $('#paymentModeId'),
        $bank = $('#bankId'),
        $checkNo = $('#checkNo'),
        $checkDate = $('#checkDate'),
        $maturedDate = $('#maturedDate'),
        $amount = $('#amount'),
        $discountAmount = $('#discountAmount'),
        $dueTotal = $('#dueTotal'),
        $grandtotal = $('#grandtotal'),
        $customerBankId = $('#customerBankId')

    //Ledger = 1, Cash = 2, Check = 3, Online Payment = 4, Bikash = 5, Duch Bangla Mobile = 6, Others = 7
    $paymentMode.change(function () {
        if ($paymentMode.val().substring(7) == '1') {
            $bank.attr('disabled', 'disabled').val('');
            $checkNo.attr('disabled', 'disabled').val('');
            $checkDate.attr('disabled', 'disabled').val('');
            $maturedDate.attr('disabled', 'disabled').val('');
            $amount.attr('disabled', 'disabled').val('');
            $customerBankId.attr('disabled', 'disabled').val('');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);
        }
        else if ($paymentMode.val().substring(7) == '2') {
            $bank.attr('disabled', 'disabled').val('');
            $checkNo.attr('disabled', 'disabled').val('');
            $checkDate.attr('disabled', 'disabled').val('');
            $maturedDate.attr('disabled', 'disabled').val('');
            $amount.removeAttr('disabled', 'disabled').val('');
            $customerBankId.attr('disabled', 'disabled').val('');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);
        }
        else if ($paymentMode.val().substring(7) == '3') {
            $bank.removeAttr('disabled', 'disabled').val();
            $checkNo.removeAttr('disabled', 'disabled').val('');
            $checkDate.removeAttr('disabled', 'disabled').val('');
            $maturedDate.removeAttr('disabled', 'disabled').val('');
            $amount.removeAttr('disabled', 'disabled').val('');
            $customerBankId.attr('disabled', 'disabled').val('');
            $('#chkNo').text('Cheque No');
            $('#chkDate').text('Cheque Date');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);
        }
        else if ($paymentMode.val().substring(7) == '4') {
            $bank.attr('disabled', 'disabled').val('');
            $checkNo.removeAttr('disabled', 'disabled').val('');
            $checkDate.removeAttr('disabled', 'disabled').val('');
            $maturedDate.attr('disabled', 'disabled').val('');
            $amount.removeAttr('disabled', 'disabled').val('');
            $customerBankId.removeAttr('disabled', 'disabled').val('');
            $('#chkNo').text('Received No');
            $('#chkDate').text('Received Date');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);

            //add receive no & receive date
        }
        else if ($paymentMode.val().substring(7) == '5') {
            $bank.attr('disabled', 'disabled').val(-1);
            $checkNo.attr('disabled', 'disabled').val('');
            $checkDate.removeAttr('disabled', 'disabled').val('');
            $maturedDate.attr('disabled', 'disabled').val('');
            $amount.removeAttr('disabled', 'disabled').val('');
            $customerBankId.attr('disabled', 'disabled').val('');
            $('#chkNo').text('Bikash No');
            $('#chkDate').text('Payment Date');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);
            //add bikash no
        }
        else if ($paymentMode.val().substring(7) == '6') {
            $bank.attr('disabled', 'disabled').val('');
            $checkNo.attr('disabled', 'disabled').val('');
            $checkDate.attr('disabled', 'disabled').val('');
            $maturedDate.attr('disabled', 'disabled').val('');
            $amount.attr('disabled', 'disabled').val('');
            $customerBankId.attr('disabled', 'disabled').val('');

            $amount.val(0.00);
            $discountAmount.val(0.00);
            $grandtotal.val(0.00);
            //like bikash
        }
        //else {
        //    $bank.attr('disabled', 'disabled').val(-1);
        //    $checkNo.attr('disabled', 'disabled').val('');
        //    $checkDate.attr('disabled', 'disabled').val('');
        //    $maturedDate.attr('disabled', 'disabled').val('');
        //}
    }).trigger('change');

    $("#amount").on('input', function () {
        var x = parseFloat($('#amount').val());
        var y = parseFloat($('#discountAmount').val());
        var pAmount = x + y;

        $('#grandtotal').val(pAmount);

        var dueAmount = $('#totalAmount').val() - $('#grandtotal').val();
        $('#dueTotal').val(dueAmount);
    });

    $("#discountAmount").on('input', function () {
        var x = parseFloat($('#amount').val());
        var y = parseFloat($('#discountAmount').val());
        var pAmount = x + y;

        $('#grandtotal').val(pAmount);

        var dueAmount = $('#totalAmount').val() - $('#grandtotal').val();
        $('#dueTotal').val(dueAmount);
    });

</script>