
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<div ng-app="compApp">
    <div ng-controller="compCtrl">
        <p class="divHead"></p>
        <div class="form-horizontal">
            <div align="center" style="color:royalblue"><h4><b>Company</b></h4></div>
            @*<b><i>{{Action}} Company</i></b>*@
            <div class="form-group">
                <input type="hidden" ng-model="companyId" />
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Name</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Address</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="address"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="contact" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" ng-click="AddUpdateCompany()"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
                    <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel()" />
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tr ng-repeat="company in companies">

                    <td>
                        {{company.Name}}
                    </td>
                    <td>
                        {{company.Address}}
                    </td>
                    <td>
                        {{company.Contact}}
                    </td>
                    <td>
                        <a href="" ng-click="editCompany(company)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                        <a href="" ng-click="deleteCompany(company)" title=" delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
