
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div ng-app="itemApp">
    <div ng-controller="itemCtrl">
        <p class="divHead"></p>
        <div class="form-horizontal">
            <div align="center" style="color:royalblue"><h4><b>Item</b></h4></div>
            @*<b><i>{{Action}} Item</i></b>*@
            <div class="form-group">
                <input type="hidden" ng-model="itemId" />
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Company</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="companyId" ng-options="c.CompanyId as c.Name for c in companies" ng-change="getAllBranchesByCompany(); getItems()">
                        <option value="">-- Select Company --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Branch</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="branchId" ng-options="c.BranchId as c.Name for c in branches" ng-change="getItems()">
                        <option value="">-- Select Branch --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Name</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" ng-click="addUpdateItem()"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
                    <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel()" />
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in items">
                    <td>
                        {{item.ItemId}}
                    </td>
                    <td>
                        {{item.ItemName}}
                    </td>
                    <td>
                        <a href="" ng-click="editItem(item)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                        <a href="" ng-click="deleteItem(item)" title=" delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </table>
            @*<dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>*@
        </div>
    </div>
</div>
