<section id="about-us">
    <div class="container">
        <!-- our-team -->
        <div class="team">
            <div class="center wow fadeInDown">
                <h2>Team of Provencial Enterprise Ltd.</h2>
                <p class="lead"></p>
            </div>
            <div class="row clearfix">
                @*<div class="col-md-4 col-sm-6">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="images/man1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Jhon Doe</h4>
                                    <h5>Founder and CEO</h5>
                                    <ul class="tag clearfix">
                                        <li class="btn"><a href="#">Web</a></li>
                                        <li class="btn"><a href="#">Ui</a></li>
                                        <li class="btn"><a href="#">Ux</a></li>
                                        <li class="btn"><a href="#">Photoshop</a></li>
                                    </ul>

                                    <ul class="social_icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>*@


                <div class="col-md-12 col-sm-2">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">

                            <div class="media-body">
                                <h4>Mohammed Dabir Khan</h4>
                                <h5 style="color:black !important">Managing Director</h5>
                            </div>
                        </div><!--/.media -->
                        <p>I am delighted to introduce Provincial Enterprise Ltd. (PEL), which is a trusted and faithful name in the field of Information Technology. PEL is capable of fulfilling the requirement of Software Developments, Networking, Data Entry, Data Processing and various IT solutions.</p>

                        <p>PEL thrives for excellence and value while delivering service to our valuable clients. Professional attitude, skilled human resources, and strong client base are our motivation towards achieving success in business. We seek to become one of the market leaders in the Bangladesh and other developed countries by providing high quality IT solution to our clients.</p>

                    </div>
                </div><!--/.col-lg-4 -->
            </div> <!--/.row -->
            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
            </div> <!--skill_border-->
            <div class="row clearfix">
                <div class="col-md-5 col-sm-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img style="width: 135px; height: 145px" class="media-object" src="~/Content/WebContent/images/employees/farid.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Farid Uddin Mollah</h4>
                                <h5 style="color:black !important">Director (Operations) </h5>

                            </div>
                        </div><!--/.media -->
                        <p></p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">

                </div>
                <div class="col-md-5 col-sm-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img style="width: 135px; height: 145px" class="media-object" src="~/Content/WebContent/images/employees/shafi.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>M. A. Shafi</h4>
                                <h5 style="color:black !important">Director (HR & Marketing) </h5>

                            </div>
                        </div><!--/.media -->
                        <p></p>
                    </div>
                </div>
            </div>	<!--/.row-->
        </div><!--section-->
    </div><!--/.container-->
</section><!--/about-us-->
<br />
<br />
@*<section id="about-us">*@
<section style="background-color: #191970">
    <div class="container">
        @*<div class="center wow fadeInDown">
                <h2>About Corlate</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>*@

        <!-- about us slider -->
        @*<div id="about-slider">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-slider" data-slide-to="1"></li>
                        <li data-target="#carousel-slider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/WebContent/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/WebContent/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/WebContent/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                    </div>

                    <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> <!--/#carousel-slider-->
            </div>*@<!--/#about-slider-->
        <!-- Our Skill -->


        <div class="skill-wrap clearfix">

            <div class="center wow fadeInDown">
                <h2>
                    <span style="color: #c52d2f; ">BACKGROUND</span>
                </h2>
                <hr />
                <p>
                    <div style="text-align: justify; color: #ffffff">
                        <b> Provincial Enterprise Ltd.</b> is a software engineering, IT solutions and consultancy services provider in Bangladesh. It was started by a group of software professionals from different dynamic entrepreneurship. Provincial Enterprise Ltd. is committed to producing quality software products and to ensuring superior service to its clients. We attempt to attain such objectives with standardized product, process and project management, synergistic teamwork and timely product delivery.

                    </div>
                </p>
            </div>

            <div class="center wow fadeInDown">
                <h2>
                    <span style="color: #c52d2f">OFFER SERVICES</span>
                </h2>
                <hr />
                <div style="text-align: justify; color: #ffffff">
                    <p>
                        Our extensive portfolio of it services covers all aspects of the system developments lifecycle from initial feasibility analysis to post-implementation technical support. the service include, it consultancy, feasibility study and total quality management, business process reengineering product specification development, system analysis and design, code development, software testing and quality assurance, training, ongoing support and maintenance. our flexible business model accommodates service types like purely offshore, mixes of onsite and offshore development and also fixed cost, time or material services.
                    </p>
                    <br />
                    <p>
                        Our team of developers can perform as an extended arm of your development team. we structure our project management, status reporting and documentation standard to meet your needs. cases where applicable we deploy dedicated special team consisting of mixed operatives and resources exclusively tailored for individual clients. if necessary we will undertake complete project responsibility to come up with a solution that best suit your business needs.
                    </p>
                </div>

            </div>

            <div class="center wow fadeInDown">
                <h2>
                    <span style="color: #c52d2f">AREA OF SPECIALIZATION</span>
                </h2>
                <hr />
                <div style="text-align: justify; color: #ffffff">
                    <p>Our target software market includes Web and e-Business applications, forecasting application, Enterprise Resource Planning (ERP), Business process Reengineering (BPR) Intelligent distributed business applications, Multimedia learning software packages, Groupware and document management.<b>PROVINCIAL ENTERPRISE LTD.</b>  can make you specific web portals, e-business applications that satisfy your service and transaction needs.</p>
                    <br />
                    <p>We know the importance of sharing information and resources securely between ICT infrastructure components of your organization like people, applications, platforms and databases. With our Enterprise Application integration solutions, besides ensuring complete change management of your company, you can also facilitate from efficient intra and inter enterprise collaboration. We can develop for you scalable and enterprise wide distributed applications with mission critical features. Our business forecasting applications and decision support systems can give you a scenario of promising possibilities or threats to your business suggest possible impact variables influencing the future progress of your company and thus help you make critical decision base on real data that create competitive advantage for your organization.</p>


                </div>

            </div>


            <div class="row">
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <p><em>95%</em></p>
                            <p>MVC/ASP.net</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <p><em>85%</em></p>
                            <p>HTML</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <p><em>80%</em></p>
                            <p>CSS</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <p><em>90%</em></p>
                            <p>C#</p>
                        </div>
                    </div>
                </div>

            </div>

        </div><!--/.our-skill-->
        <!-- our-team -->
        @*<div class="team">
                <div class="center wow fadeInDown">
                    <h2>Team of Corlate</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="~/Content/WebContent/images/man1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Jhon Doe</h4>
                                    <h5>Founder and CEO</h5>
                                    <ul class="tag clearfix">
                                        <li class="btn"><a href="#">Web</a></li>
                                        <li class="btn"><a href="#">Ui</a></li>
                                        <li class="btn"><a href="#">Ux</a></li>
                                        <li class="btn"><a href="#">Photoshop</a></li>
                                    </ul>

                                    <ul class="social_icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div><!--/.col-lg-4 -->


                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="~/Content/WebContent/images/man2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Jhon Doe</h4>
                                    <h5>Founder and CEO</h5>
                                    <ul class="tag clearfix">
                                        <li class="btn"><a href="#">Web</a></li>
                                        <li class="btn"><a href="#">Ui</a></li>
                                        <li class="btn"><a href="#">Ux</a></li>
                                        <li class="btn"><a href="#">Photoshop</a></li>
                                    </ul>
                                    <ul class="social_icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div><!--/.col-lg-4 -->
                </div> <!--/.row -->
                <div class="row team-bar">
                    <div class="first-one-arrow hidden-xs">
                        <hr>
                    </div>
                    <div class="first-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="second-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="third-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="fourth-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                </div> <!--skill_border-->
                <div class="row clearfix">
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="~/Content/WebContent/images/man3.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Jhon Doe</h4>
                                    <h5>Founder and CEO</h5>
                                    <ul class="tag clearfix">
                                        <li class="btn"><a href="#">Web</a></li>
                                        <li class="btn"><a href="#">Ui</a></li>
                                        <li class="btn"><a href="#">Ux</a></li>
                                        <li class="btn"><a href="#">Photoshop</a></li>
                                    </ul>
                                    <ul class="social_icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img class="media-object" src="~/Content/WebContent/images/man4.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4>Jhon Doe</h4>
                                    <h5>Founder and CEO</h5>
                                    <ul class="tag clearfix">
                                        <li class="btn"><a href="#">Web</a></li>
                                        <li class="btn"><a href="#">Ui</a></li>
                                        <li class="btn"><a href="#">Ux</a></li>
                                        <li class="btn"><a href="#">Photoshop</a></li>
                                    </ul>
                                    <ul class="social_icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!--/.media -->
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>	<!--/.row-->
            </div><!--section-->*@
    </div><!--/.container-->
</section><!--/about-us-->
