
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div ng-app="pdApp">
    <div ng-controller="pdCtrl">
        <p class="divHead"></p>
        <div class="form-horizontal">
            <div align="center" style="color:royalblue"><h4><b>Purchase Return</b></h4></div>

            <div class="container">
                <div class="form-horizontal form-custom">
                    <div class="form-group">
                        <input type="hidden" ng-model="purchaseDetailId" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" ng-model="purchaseId" />
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" ng-model="invoiceno" />
                        </div>
                        <label class="col-sm-2 control-label">Invoice No</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="invoiceno" ng-pattern="invoiceno" required ng-trim="true" ng-change="getPurchaseDetailByPurchase()" />
                        </div>
                    </div>

                    <div class="form-group">
                        @*<div class="form-group">
                            <input type="hidden" ng-model="companyId" />
                        </div>*@
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="companyId" ng-options="c.CompanyId as c.Name for c in companies" ng-change=" getAllBranchesByCompany()">
                                <option value="">-- Select Country --</option>
                            </select>
                        </div>
                       
                        <label class="col-sm-2 control-label">Branch</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="branchId" ng-options="b.BranchId as b.Name for b in branches">
                                <option value="">-- Select Branch --</option>
                            </select>
                        </div>
                    </div>

                  
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label">Account</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="accountId" ng-options="a.AccountId as a.AccountName for a in accounts">
                                <option value="">-- Select Account --</option>
                            </select>
                        </div>                       
                        <label class="col-sm-2 control-label">Purchase From</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="supplierId" ng-options="s.SupplierId as s.Name for s in suppliers">
                                <option value="">-- Select Supplier --</option>
                            </select>
                        </div>
                    </div>
                 
                    <div class="form-group">                      
                        <label class="col-sm-2 control-label">Item</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="itemId" ng-options="i.ItemId as i.ItemName for i in items">
                                <option value="">-- Select Item --</option>
                            </select>
                        </div>
                       
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="modelId" ng-options="m.ModelId as m.ModelName for m in models">
                                <option value="">-- Select Model --</option>
                            </select>
                        </div>
                                              
                    </div>
                    <div class="form-group">                   
                        <label class="col-sm-2 control-label">Unit</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="unitId" ng-options="u.UnitId as u.UnitName for u in units">
                                <option value="">-- Select Units --</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Quantity</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="qty" />
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="form-group">
                            <input type="hidden" ng-model="unitId" />
                        </div>
                        <label class="col-sm-4 control-label">Unit</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="unitId" ng-model="unitId" ng-options="u.UnitId as u.UnitName for u in units">
                                <option value="">-- Select Units --</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="form-group">                    
                        <label class="col-sm-2 control-label">Unit Price</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="unitPice" />
                        </div>
                     
                        <label class="col-sm-2 control-label">Serial</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="serialNo" />
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Account</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="paymentModeId" ng-options="p.PaymentModeId as p.PaymentType for p in paymentModes">
                                <option value="">-- Select Payment Mode --</option>
                            </select>
                        </div>

                        <label class="col-sm-2 control-label">Total Amount</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="totalAmount" readonly />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bank Name</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="bankId" ng-options="b.BankId as b.BankName for b in banks">
                                <option value="">-- Select Bank --</option>
                            </select>
                        </div>

                        <label class="col-sm-2 control-label">Discount Amount</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="disountAmount" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Customer Bank</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="customerBankId" ng-options="b.CustomerBankId as b.Name for b in customerBanks">
                                <option value="">-- Select Customer Bank --</option>
                            </select>
                        </div>

                        <label class="col-sm-2 control-label">Grand Total</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="grantTotal" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cheque No</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="checkNo" />
                        </div>

                        <label class="col-sm-2 control-label">Due</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="dueAmount" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cheque Date</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="checkDate"  />
                        </div>                       
                    </div> 

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Matured Date</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="checkMDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Amount</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="payAmount" />
                        </div>
                    </div>                                      

                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" ng-click="addUpdatePurchase()"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
                            <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel()" />
                        </div>
                    </div>
                  



                    @*<div class="form-group">
                        <label class="col-sm-4 control-label">Entry Date</label>
                        <div class="col-sm-6">
                            <input type='text'
                                   class="form-control"
                                   datepicker-popup
                                   ng-model="entryDate"
                                   is-open="opened.Start"
                                   ng-click="opened = !opened"
                                   ng-readonly='true' />
                            <span class="input-group-addon"
                                  ng-click="opened = !opened; $event.stopPropagation()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>*@



                    @*<div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" ng-click="addUpdateCCLimit()"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
                            <input type="button" class="btn btn-danger" value="Clear" ng-click="Cancel()" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Purchase Id</th>
                                <th>Purchase Detail Id</th>
                                <th>Item</th>
                                <th>Model</th>
                                <th>Unit</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Serial</th>
                                <th>Company Id</th>
                                <th>Company Name</th>
                                <th>Branch Id</th>
                                <th>Branch Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="pd in purchasedetails">
                            <td>
                                {{pd.InvoiceNo}}
                            </td>
                            <td>
                                {{pd.PurchaseId}}
                            </td>
                            <td>
                                {{pd.PurchaseDetailId}}
                            </td>
                            <td>
                                {{pd.ItemName}}
                            </td>
                            <td>
                                {{pd.ModelName}}
                            </td>
                            <td>
                                {{pd.UnitName}}
                            </td>
                            <td>
                                {{pd.Qty}}
                            </td>
                            <td>
                                {{pd.UnitPice}}
                            </td>
                            <td>
                                {{pd.SerialNo}}
                            </td>
                            <td>
                                {{pd.CompanyId}}
                            </td>
                            <td>
                                {{pd.CompanyName}}
                            </td>
                            <td>
                                {{pd.BranchId}}
                            </td>
                            <td>
                                {{pd.BranchName}}
                            </td>

                            <td>
                                <a href="" ng-click="editPurchaseDetail(pd)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                                <a href="" ng-click="deletePurchaseDetail(pd)" title=" delete"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </table>

                </div>
                @*<div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Company Id</th>
                                <th>Company Name</th>
                                <th>Branch Id</th>
                                <th>Branch Name</th>
                                <th>Purchase Id</th>
                                <th>Invoice No</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="purchase in purchases">
                            <td>
                                {{purchase.CompanyId}}
                            </td>
                            <td>
                                {{purchase.CompanyName}}
                            </td>
                            <td>
                                {{purchase.BranchId}}
                            </td>
                            <td>
                                {{purchase.BranchName}}
                            </td>
                            <td>
                                {{purchase.PurchaseId}}
                            </td>
                            <td>
                                {{purchase.InvoiceNo}}
                            </td>
                            <td>
                                <a href="" ng-click="editPurchase(purchase)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                                <a href="" ng-click="deletePurchase(purchase)" title=" delete"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </table>

                </div>*@
            </div>
        </div>
